{:deps {scicloj/tablecloth {:mvn/version "7.029.2"}
        aerial.hanami/aerial.hanami {:mvn/version "0.20.0"}
        scicloj/metamorph.ml {:mvn/version "0.8.2"}
        scicloj/scicloj.ml.smile {:mvn/version "7.4.1"}
        generateme/fastmath {:mvn/version "3.0.0-SNAPSHOT"}
        org.scicloj/kindly {:mvn/version "4-beta5"}
        org.scicloj/tempfiles {:mvn/version "1-alpha2"}}
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                      org.scicloj/clay {:mvn/version "2-beta11"}}}
  :dev {:extra-paths ["notebooks"]
        :extra-deps {org.scicloj/clay {:mvn/version "2-beta11"}}}}}
